@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
nav{
    height: 50px;
    background-color: #1c2833;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 50px;
}
.logo{
    color: white;
    font-weight: bold;
    cursor: default;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 5px;
}
nav ul li a{
    padding: 5px 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}
nav ul li a:hover, .nav-home-btn-active{
    background-color: #566573;
}

#checkbox-for-menu{
    display: none;
}
.thiree-dot-menu{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}



/* hero area start from here  */

header{
    background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
}


/* 1st section, service details  */

#first-section{
    background-color: rgb(220, 216, 232);
    padding: 40px 0;
}
.service-details-container{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.service-details-single-container{
    text-align: center;
    padding: 10px;
    box-shadow: 3px 3px 8px #808080bd;
    transition: 0.5s;
    cursor: default;
    background-color: white;

}
.service-details-single-container:hover{
    transform: scale(1.08);
    box-shadow: 3px 3px 8px #808080;
}
.service-details-single-container i{
    font-size: 40px;
    padding-top: 15px;
}
.service-details-single-container h2{
    padding: 10px 0;
}




/* navigation responsive code start from here  */

@media only screen and (max-width: 688px){
    .thiree-dot-menu{
        display: block;
    }
    #checkbox-for-menu:checked ~ ul{
        left: 0%;
    }
    #checkbox-for-menu:checked ~ .thiree-dot-menu i::before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 50px;
        flex-direction: column;
        background-color: #17202a;
        width: 100%;
        height: 100vh;
        text-align: center;
        padding-top: 20px;
        left: -100%;
        transition: all 0.5s ease;
    }
    nav ul li{
        margin: 20px 0;
    }
    nav ul li a{
        
    }
    nav ul li a:hover, .nav-home-btn-active {
        background: none;
        color: red;
    }
}

/* 1st section, service area media query responsive code start  */
@media only screen and (max-width: 688px){
    .service-details-container{
        width: 90%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    
}  
@media only screen and (min-width: 689px) and (max-width: 992px){
    .service-details-container{
        width: 90%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1313px){
    .service-details-container{
        width: 90%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}