@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
nav{
    height: 50px;
    background-color: #1c2833;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 50px;
}
.logo{
    color: white;
    font-weight: bold;
    cursor: default;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 5px;
}
nav ul li a{
    padding: 5px 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}
nav ul li a:hover, .nav-home-btn-active{
    background-color: #566573;
}

#checkbox-for-menu{
    display: none;
}
.thiree-dot-menu{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width: 800px){
    .thiree-dot-menu{
        display: block;
    }
    #checkbox-for-menu:checked ~ ul{
        left: 0%;
    }
    #checkbox-for-menu:checked ~ .thiree-dot-menu i::before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 50px;
        flex-direction: column;
        background-color: #17202a;
        width: 100%;
        height: 100vh;
        text-align: center;
        padding-top: 20px;
        left: -100%;
        transition: all 0.5s ease;
    }
    nav ul li{
        margin: 20px 0;
    }
    nav ul li a{
        
    }
    nav ul li a:hover, .nav-home-btn-active {
        background: none;
        color: red;
    }
}